* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

div[data-active='false'] * {
  display: none;
}

button i,
button i::before {
  color: #fff;
  display: block !important;
  margin: 0 auto;
}

.button-primary.rounded-button {
  border-radius: 50%;
  border: none;
  width: 5rem;
  height: 5rem;
  padding: 0;
  font-size: 3rem;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.button-primary.rounded-button:active {
  background-color: #175568;
}

#current-color {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.5);
  bottom: 2rem;
  left: 13rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

#take-picture {
  position: absolute;
  margin: 0;
  bottom: 2rem;
  right: 7.5rem;
}

#save-to-gallery {
  position: absolute;
  margin: 0;
  bottom: 2rem;
  right: 2rem;
}

#toggle-paint-mode {
  position: absolute;
  margin: 0;
  bottom: 2rem;
  left: 2rem;
}

#reset-canvas {
  position: absolute;
  margin: 0;
  bottom: 2rem;
  left: 7.5rem;
}
